@font-face {
    font-family: 'Raleway';
    src: url(Fonts/Raleway-Italic-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Raleway-2';
    src: url(Fonts/Raleway-Black.ttf);
}
@font-face {
    font-family: 'Play';
    src: url(Fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf);
}
.name {
    position: absolute;
    width: 163px;
    height: 41px;
    top: 7.38px;
    left: 107.77px; 
    font-size: 35px;
    font-family: 'Raleway-2';
}

.mail  {
    position: absolute;
    width: 129px;
    height: 64.5px;
    top: 20px;
}

.header {
    position: absolute;
    width: 1440px;
    height: 102px;
    top: 0px;
}
nav {
    position: absolute;
    width: 680px;
    height: 41px;
    top: 28px;
    left: 480px;
}

.features {
    position: absolute;
    width: 95px;
    height: 20px;
    top: 10px;
    left: 8px;
    font-size: 17px;
    font-family: 'Raleway-2';
}

.line {
    position: absolute;
    width: 110px;
    height: 5px;
    top: 36px;
    background-color: #4BA87D;
}

.pricing {
    position: absolute;
    width: 77px;
    height: 20px;
    top: 10px;
    left: 141px;
    font-size: 17px;
    font-family: 'Raleway-2';
}

.services {
    position: absolute;
    width: 90px;
    height: 20px;
    top: 10px;
    left: 256px;
    font-size: 17px;
    font-family: 'Raleway-2';
}

.partners {
    position: absolute;
    width: 97px;
    height: 20px;
    top: 10px;
    left: 384px;
    font-size: 17px;
    font-family: 'Raleway-2';
}
.box {
    position: absolute;
    width: 168px;
    height: 41px;
    left: 1000px;
    top: 45px;        
    background-color: #4BA87D;
    
}
.sign {
    position: absolute;
    width: 128px;
    height: 20px;
    top: -5px;
    left: 20px;     
    font-size: 17px;
    font-family: 'Raleway-2';
    color: white;
}

.box-1 {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 37px;
    left: 354.31px;    
    background-color: #EFE1BC;
}

.main {
    position: absolute;
    width: 1891px;
    height: 2648px;
    top: 96px;
    left: -92px;      
}

.ellipse {
    position: absolute;
    width: 11px;
    height: 11px;
    top: 47px;
    left: 1356.31px;
}

.image {
    position: absolute;
    width: 680px;
    height: 383px;
    left: 408px;
}

.hero {
    position: absolute;
    width: 1088px;
    height: 383px;
    top: 205px;
    left: 176px;
}

.text {
    position: absolute;
    width: 489px;
    height: 142px;
    font-size: 59px;
    left: 50px;
}
.text-2 {
    position: absolute;
    width: 446px;
    height: 52px;
    top: 165px;
    left: 50px;
    font-size: 19px;
    font-family: 'Raleway';
}
.box-2 {
    position: absolute;
    width: 200px;
    height: 65px;
    top: 252px;  
    left: 50px;  
    background-color: #4BA87D;
    
}

.trynow {
    position: absolute;
    width: 105px;
    height: 25px;
    top: 1px;
    left: 48px;
    color: white;
    font-family: 'Raleway-2';
    font-size: 21px;
}
.box-3 {
    position: absolute;
    width: 200px;
    height: 60px;
    top: 252px;
    left: 265px;
    border: 3px #4BA87D solid;
}
.text-3 {
    position: absolute;
    width: 144px;
    height: 25px;
    top: 5px;
    left: 50px;
    color: #4BA87D; 
    font-family: 'Raleway-2';  
}
.box-5 {
    position: absolute;
    width: 39.89px;
    height: 39.89px;
    top: 514.88px;
    left: 100.67px;
    rotate: -45deg;
    background-color: #F4BEBD;
}
.section {
    position: absolute;
    width: 1891px;
    height: 2648px;
    top: 96px;
    left: -92px;
}
.blackbox {
    position: absolute;
    width: 57.89px;
    height: 57.89px;
    top: -5px;
    left: 1040px;
    rotate: -45deg;
    background-color: black;

}

.video {
    position: absolute;
    width: 944px;
    height: 531px;
    top: 867px;
    left: 370px; 
}

.text-4 {
    position: absolute;
    width: 656px;
    height: 80px;
    top: 1019px;
    left: 480px;
    color: white;
    font-size: 60px;
}
.whitebox {
    position: absolute;
    width: 200px;
    height: 65px;
    top: 1175px;
    left: 700px;
    background-color: white;
}

.text-5 {
    position: absolute;
    width: 136px;
    height: 25px;
    top: 7px;
    left: 50px;
    color: #4BA87D;
    font-size: 16px;
    font-family: 'Raleway-2';
}

.background {
    position: absolute;
    width: 1440px;
    height: 1059px;
    top: 1390px;
    left: -3px;
    background-color: #CAEAC7;
    rotate: -10deg;
}

.shape {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 1270px;
    left: 1374.31px;
    opacity: 64.26%;
    background-color: #F4F4F4;
}

.shape-2 {
    position: absolute;
    width: 60.81px;
    height: 60.81px;
    top: 1430.02px;
    left: 1323.51px;
    opacity: 30.66%;
    rotate: -45deg;
    background-color: #ffffff;
}
.ellipse-2 {
    position: absolute;
    width: 38px;
    height: 39px;
    top: 1646px;
    left: 1438.31px;
    border-radius: 20px;
    background-color: #AFCBAD;
}

.rectangle {
    position: absolute;
    width: 41.9px;
    height: 39.8px;
    top: 1668.53px;
    left: 144.02px;
    opacity: 6.07%;
    rotate: -45deg;
    background-color: #000000;  
}

.shape-3 {
    position: absolute;
    width: 41.9px;
    height: 41.9px;
    top: 2100px;
    left: 350.06px;
    opacity: 30.24%;
    rotate: -45deg;
    background-color: #FFFFFF;
}

.ellipse-3 {
    position: absolute;
    width: 11px;
    height: 12px;
    top: 2030px;
    left: 105.31px;
    border-radius: 10px;
    border: #4BA87D 1px;
    background-color: #707070;
}
.shape-4 {
    position: absolute;
    width: 31px;
    height: 31px;
    top: 1808px;
    left: 1390.31px;
    opacity: 41%;
    background-color: #FFFFFF;
}
.whitebox-2 {
    position: absolute;
    width: 320px;
    height: 196px;
    top: 1800px;
    left: 200px;
    background-color: white;
}
.girlphoto {
    position: absolute;
    width: 321px;
    height: 282.89px;
    left: -1.20px;
    top: -282px;    
}
.text-6 {
    position: absolute;
    width: 251px;
    height: 120px;
    top: 1840px;
    left: 245px;
    font-size: 16px;
    font-family: 'Raleway';
}
.learn {
    position: absolute;
    width: 251px;
    height: 28px;
    top: 1940px;
    left: 245px;
    color: #4BA87D;
    font-family: 'Raleway-2';
}
.whitebox-3 {
    position: absolute;
    width: 320px;
    height: 196px;
    top: 1880px;
    left: 560px;
    background-color: white;
}
.photo-3 {
    position: absolute;
    width: 321px;
    height: 282px;
    top: -143%;
    left: px;
}
.text-7 {
    position: absolute;
    width: 259px;
    height: 111px;
    top: 30px;
    left: 31px;
    font-size: 16px;
    font-family: 'Raleway';
}
.text-8 {
    position: absolute;
    width: 251px;
    height: 28px;
    top: 130px;
    left: 31px;
    color: #4BA87D;
    font-size: 16px;
    font-family: 'Raleway-2';
}
.title {
    position: absolute;
    width: 365px;
    height: 144px;
    top: -300px;
    left: 400px;
    font-size: 44px;
    font-family: 'Play'; 
}

.title-2 {
    position: absolute;
    width: 322px;
    height: 156px;
    top: -80px;
    left: 400px;
    font-family: 'Raleway';
    font-size: 19px;
}
.section-2 {
    position: absolute;
    width: 1089px;
    height: 530px;
    top: 2500px;
    left: 174px;
}
.img-1 {
    position: absolute;
    width: 342px;
    height: 239px;
    
}
.img-2 {
    position: absolute;
    width: 342px;
    height: 239px;
    left: 374px;    
}

.img-3 {
    position: absolute;
    width: 341px;
    height: 239px;
    left: 748px;
}
.title-3 {
    position: absolute;
    text-align: center;
    width: 904px;
    height: 126px;
    top: 279px;
    left: 94px;
    font-size: 44px;

}
.inputbox {
    position: absolute;
    width: 420px;
    height: 65px;
    top: 480px;
    left: 30%;
    border: 1px #9F9F9F solid;
    background-color: white;
}
.email {
    position: absolute;
    width: 176px;
    height: 25px;
    top: -1px;
    left: 25px;
    font-size: 21px;
    font-family: 'Raleway';
}
.button {
    position: absolute;
    width: 221px;
    height: 65px;
    left: 447px;
    background-color: #4BA87D;
}
.btn-name {
    position: absolute;
    width: 162px;
    height: 25px;
    top: 5px;
    left: 35px;
    color: white;
    font-size: 21px;
    font-family: 'Raleway-2';
}
.received {
    position: absolute;
    width: 254px;
    height: 25px;
    top: 85px;
    left: 25px;
    color: #4BA87D;
    font-size: 21px;
    font-family: 'Raleway-2';
}
.title-4 {
    position: absolute;
    text-align: center;
    width: 944px;
    height: 124px;
    top: 120%;
    left: 300px;
    font-size: 44px;
    font-family: 'Play';
}

.logo-1 {
    position: absolute;
    width: 160px;
    height: 33px;
    top: 129%;
    left: 300px;
}
.logo-2 {
    position: absolute;
    width: 85px;
    height: 44px;
    top: 129%;
    left: 600px;
}
.logo-3 {
    position: absolute;
    width: 145px;
    height: 48px; 
    top: 129%;
    left: 900px;
}
.logo-4 {
    position: absolute;
    width: 141px;
    height: 25px;
    top: 129%;
    left: 1200px;
}
.logo-5 {
    position: absolute;
    width: 138px;
    height: 22px;
    top: 129%;
    left: 1500px;
}
.greenbox {
    position: absolute;
    width: 1440px;
    height: 366px;
    top: 3700px;
    left: 92px;   
    background-color: #4BA87D;
}
.title-6 {
    position: absolute;
    width: 944px;
    height: 124px;
    top: 82px;
    left: 248px;
    font-size: 60px;
    color: white;
    font-family: 'Raleway-2';
}

.box-8 {
    position: absolute;
    width: 200px;
    height: 65px;
    top: 150%;
    left: 440px;
    background-color: white;
}
.title-7 {
    position: absolute;
    width: 137px;
    height: 25px;
    top: 1px;
    left: 30px;
    font-size: 21px;
    font-family: 'Raleway-2';
    color: #4BA87D;
}

footer {
    position: absolute;
    width: 1440px;
    height: 433px;
    top: 3490px;
}
.box-9 {
    position: absolute;
    width: 197.39px;
    height: 60.23px;
    top: 160%;
    left: 228px;
}
.footertitle {
    position: absolute;
    width: 121px;
    height: 31px;
    top: 170%;
    left: 76.39px;
    font-size: 26px;
    font-family: 'Raleway-2';
}

.email-2 {
    position: absolute;
    width: 92px;
    height: 45px;
    top: 124px;
    left: 1px;
}

.feature {
    position: absolute;
    width: 80px;
    height: 22px;
    top: 186.30%;
    left: 500px;
    font-size: 19px;
    font-family: 'Raleway-2';
}

.pricing-2 {
    position: absolute;
    width: 64px;
    height: 22px;
    top: 195%;
    left: 500px;
    font-size: 19px;
    font-family: 'Raleway-2';
}
.services-2 {
    position: absolute;
    width: 78px;
    height: 22px;
    top: 203%;
    left: 500px;
    font-size: 19px;
    font-family: 'Raleway-2';
}

.partners-2 {
    position: absolute;
    width: 77px;
    height: 22px;
    top: 211%;
    left: 500px;
    font-size: 19px;
    font-family: 'Raleway-2';
}
.about {
    position: absolute;
    width: 84px;
    height: 22px;
    top: 186.50%;
    left: 45%;
    font-size: 18px;
    font-family: 'Raleway-2';
}

.tutorial {
    position: absolute;
    width: 79px;
    height: 22px;
    top: 195%;
    left: 45%;
    font-size: 19px;
    font-family: 'Raleway-2';
}

.resources {
    position: absolute;
    width: 95px;
    height: 22px;
    top: 203%;
    left: 45%;
    font-size: 19px;
    font-family: 'Raleway-2';
}

.help {
    position: absolute;
    width: 110px;
    height: 22px;
    top: 211.50%;
    left: 45%;
    font-size: 18px;
    font-family: 'Raleway-2';
}

.template {
    position: absolute;
    width: 96px;
    height: 22px;
    top: 220%;
    left: 45%;
    font-size: 18px;
    font-family: 'Raleway-2';
}

.studies {
    position: absolute;
    width: 118px;
    height: 22px;
    top: 229%;
    left: 45%;
    font-size: 18px;
    font-family: 'Raleway-2';
}

.medium {
    position: absolute;
    width: 75px;
    height: 22px;
    top: 186.30%;
    left: 55%;
    font-size: 19px;
    font-family: 'Raleway-2';
}
.twitter {
    position: absolute;
    width: 65px;
    height: 22px;
    top: 195%;
    left: 55%;
    font-size: 19px;
    font-family: 'Raleway-2';
}
.facebook {
    position: absolute;
    width: 88px;
    height: 22px;
    top: 203%;
    left: 55%;
    font-size: 19px;
    font-family: 'Raleway-2';
}

.instagram {
    position: absolute;
    width: 93px;
    height: 22px;
    top: 211%;
    left: 55%;
    font-size: 19px;
    font-family: 'Raleway-2';
}
.linkedin {
    position: absolute;
    width: 79px;
    height: 22px;
    top: 220%;
    left: 55%;
    font-size: 19px;
    font-family: 'Raleway-2';    
}

.contact {
    position: absolute;
    width: 101px;
    height: 22px;
    top: 186.30%;
    left: 65%;
    font-size: 18px;
    font-family: 'Raleway-2'; 
}
.slack {
    position: absolute;
    width: 50px;
    height: 22px;
    top: 195%;
    left: 65%;
    font-size: 19px;
    font-family: 'Raleway-2';
}
.jobs {
    position: absolute;
    width: 43px;
    height: 22px;
    top: 203%;
    left: 65%;
    font-size: 19px;
    font-family: 'Raleway-2';
}

hr {
    position: absolute;
    width: 1088px;
    height: 2px;
    top: 270%;
    left: 176px;
}

.lasttitle {
    position: absolute;
    width: 555px;
    height: 18px;
    top: 280%;
    left: 257px;
    font-size: 14px;
    font-family: 'Raleway-2';
}

.lasttitle-2 {
    position: absolute;
    width: 139px;
    height: 18px;
    top: 280%;
    left: 900px;
    font-size: 14px;
    font-family: 'Raleway-2';
}

.lasttitle-3 {
    position: absolute;
    width: 99px;
    height: 18px;
    top: 280%;
    left: 1100px;
    font-size: 14px;
    font-family: 'Raleway-2';
}

/* MEDIA QUERIES */

@media all and (min-width: 768px) {
    .background {
        width: 100%;
        display: flex;
    }

    .greenbox {
        width: 100%;
        display: flex;
    }

    .title-6 {
        width: 100%;
        display: flex;
        left: 25%;
    }

    .title-7 {
        max-width: auto;
        max-height: 10px;
        display: flex;
    }

    .box-8 {
        width: 200px;
        display: flex;
        left: 39%;
    }

    .logo-1 {
        width: 104px;
        display: flex;
    }

    .logo-2 {
        width: 55px;
        display: flex;
    }

    .logo-3 {
        width: 94px;
        display: flex;
    }

    .logo-4 {
        width: 92px;
        display: flex;
    }

    .logo-5 {
        width: 91px;
        display: flex;
    }
}

@media (max-width: 320px) {
    header {
        width: 320px;
        height: 62px;  
    }
    .background {
        width: 100%;
    }

    .box-10 {
        width: 100%;
        display: none;
    }

    section {
        width: 100%;
    }

    nav {
        width: 100%;
    }

    .box {
        margin-left: -130%;

    }
    .nav {
        width: 100%;
        display: none;
    }

    .text {
    width: 284px;
    height: 138px;
    }

    .image {
        margin-left: -40%;
    }

    .text-2 {
        top: 100%;
        font-size: 19px;
    }

    .ellipse {
        display: none;
    }

    .box-2 {
        top: 120%;
    }

    .box-3 {
        top: 120%;
        margin-left: 5%;
    }
    .shape {
        display: none;
    }

    .blackbox {
        display: none;
    }
    .box-1 {
        display: none;
    }
    .box-5 {
        display: none;
    }
    .video {
        top: 25%;
        margin-left: -4%;
        width: 600px;
    }
    .text-4 {
        top: 30%;
        margin-left: -10%;
    }
    .whitebox {
        top: 36%;
        margin-left: -11%;
    }
    .whitebox-3 {
        top: 80%;
        left: 30%;
    }
    .img-1 {
        margin-left: 20%;
        top: 1%;
    }
    .img-2 {
        top: 55%;
        margin-left: -14%;
    }
    .img-3 {
        top: 110%;
        margin-left: -48%;
    }
    .whitebox-2 {
        top: 61%;
    }
    .text-6 {
        top: 62%;
    }
    .learn {
        top: 66%;
    }
    .title-3 {
        top: 150%;
        margin-left: -19%;
    }
    .inputbox {
        margin-left: -10%;
        top: 185%;
    }
    .button {
        top: 220%;
        margin-left: -100%;
    }
    .title-4 {
        top: 140%;
        margin-left: -12%;
    }
    .greenbox {
        top: 140%;
    }
    .logo-1 {
        top: 10%;
    }
    .logo-2 {
        top: 100%;
    }
    .box-8 {
        margin-left: 1%;
    }
    .title-6 {
        margin-left: -5%;
    }
    .title {
        margin-left: -240%;
    }
    .title-2 {
        margin-left: -240%;
    }
}